.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.pagination button,
.pagination select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #731c23;
  color: #fff;
  cursor: pointer;
}

.pagination button:hover,
.pagination button:focus {
  background-color: #5a161b;
}

.pagination input[type="number"] {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  border: none;
}

.paginationInput {
  border: solid 1px #d1d1d1 !important;
}
