table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  background-color: #fff;
  width: 95%;
  border: dashed 1.5px #ebebeb;
  border-radius: 20px;
  border-spacing: 0;
}

table td,
table th {
  text-align: center;
  padding: 15px;
  font-size: 0.7rem;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table thead,
tfoot td {
  background-color: #731c23;
  color: #fff;
}

table thead tr:hover {
  background-color: #731c23;
}

table th {
  padding-top: 20px;
  padding-bottom: 20px;
}

thead th:first-child {
  border-top-left-radius: 10px;
}
thead th:last-child {
  border-top-right-radius: 10px;
}
tfoot td:first-child {
  border-bottom-left-radius: 10px;
}
tfoot td:last-child {
  border-bottom-right-radius: 10px;
}
