.roomContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.roomContainer_header * {
  margin-right: 40px;
}
.roomContainer_header h1 {
  color: #fff;
}

.roomContainer_header {
  display: flex;
  align-items: center;
  background-color: #731c23;
  height: 9rem;
  border-radius: 0 0 10px 10px;
  padding: 5px 2rem 5px 2rem;
}

.roomContainer_header img {
  border-radius: 10px;
  width: 150px;
  height: 100px;
}

.backButton {
  /* position: fixed; */
  /* top: 10px; */
  /* left: 10px; */
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background-image: url("../../../static/images/left.png");
  background-size: cover;
}

.roomContainer_spaces {
  display: flex;
  margin: 0 auto;
  gap: 1.5rem;
}

.spaceNavigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-shadow: none;
  padding: 10px;
  background-color: #fff;
  width: 180px;
  height: 500px;
}

.spaceNavigation h2 {
  color: #731c23;
  width: 90%;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #731c2318;
}

.spaceNavigation_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spaceNavigation_list button {
  cursor: pointer;
  background-color: inherit;
  display: inline-block;
  border: none;
}

.spaceNavigation_list button:hover {
  color: #731c23;
}

.roomContainer_ratings {
  margin: 0 auto;
  display: flex;
  min-height: 350px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.roomContainer_ratings h1 {
  color: #731c23;
}

.roomContainer_ratings_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  padding-bottom: 1.2rem;
  background-color: #66ce41;
  border-radius: 100%;
}

.spaceNavigation_list button {
  color: #731c23;
}

.roomContainer_ratings_rating * {
  color: #fff !important;
}

.roomContainer_ratings_rating h1 {
  font-size: 4rem;
}
