.accordionContainer {
  width: 500px;
  height: fit-content;
  box-shadow: none;
  background-color: inherit;
}

.accordionContainer_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #731c23;
  border: 1px solid #731c23;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px 10px;
}
