.roomsContainer,
.roomsContainer_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roomsContainer {
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  margin-top: 2rem;
  gap: 2rem;
}

.roomsContainer_lists {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 40px;
  width: 90%;
  height: 500px;
  border-radius: 10px;
  background-color: #ffd95d;
  margin-bottom: 50px;
}
.roomsContainer_cards {
  background-color: rgba(255, 255, 255, 0.8);
  height: 110px;
  width: 150px;
  cursor: pointer;
  background-color: #731c23;
}

.roomsContainer_cards img {
  width: 100%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.roomsContainer_cards_title {
  height: 10%;
  font-size: 14px;
  color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsContainer_header {
  display: flex;
  align-items: center;
  background-color: #8c242c;
  color: white;
  text-align: center;
  height: 150px;
  width: 750px;
  padding: 10px 20px;
  border-radius: 10px;
  gap: 20px;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  background-image: url("../../static/images/left.png");
  background-size: cover;
}

.roomsContainer_header_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 95px;
}

.roomsContainer_header img {
  width: 150px;
  height: 110px;
  border-radius: 10px;
}
