.dashboardHeader,
.dashboardNav,
.intro,
.introText {
  display: flex;
}

.dashboardHeader {
  border-radius: 0 0 2rem 2rem;
}

.intro {
  gap: 2rem;
}

.introText {
  flex-direction: column;
  padding: 1.2rem;
  gap: 1rem;
}

.introText h1 {
  color: #8c242c;
}

.logo {
  object-fit: cover;
  width: 120px;
}

.dashboardHeader {
  flex-direction: column;
  padding: 1rem 3.5rem;
  padding-top: 1.7rem;
  gap: 2.5rem;
  justify-content: space-between;
  background-color: #fff;
}

.dashboardNav {
  list-style: none;
  gap: 50px;
}

.dashboardNav button {
  color: #808080;
  font-weight: 500;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.dashboardNav button:hover {
  color: #4a4a4a;
}

.active {
  color: #4a4a4a !important;
  transform: scale(1.1);
}
