.manageNav {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1rem 2rem;
}

.manageNav button {
  color: #808080;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.manageNav button:hover {
  color: #4a4a4a;
}

.active {
  color: #4a4a4a !important;
  transform: scale(1.2);
}

.manageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
